{% extends 'CaffeOlivuzzoAdminBundle::base.html.twig' %}

{% block title %}Caffè Olivuzzo Admin Foto Clienti{% endblock %}

{% block body %}

{% if fotos is not empty %}
<table class="table-sm table-striped table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Foto</th>
        <th>Testo Alternativo</th>
        <th>Data</th>
        <th>Approvato</th>
        <th style="text-align:center" colspan="2">Azioni</th>
    </tr>
    </thead>
    <tbody>
    {% for foto in fotos %}
    <tr>
        <td align="center">{{ foto.id }}</td>
        <td><img class="img-thumbnail" style="margin:5px;width:100px;height:auto;" src="{{ asset('../../images/nostri-clienti/'~ foto.foto) }}"  />
</td>
        <td>{{ foto.testoAlternativo }}</td>
        <td>{{foto.data|date('Y-m-d')}}</td>

        {% if foto.approvato == 1 %}
            {% set approvato = 'Sì' %}
        {% else %}
            {% set approvato = 'No' %}
        {% endif %}

        <td align="center">{{ approvato }}</td>

        <td>
            <form action="{{ path('_foto_update', {'id': foto.id}) }}" method="post">
                <input type="submit" value="Modifica" />
            </form>
        </td>

        <td>
            {% if foto.comments is not empty %}
                {% set hasComments = 'disabled' %}
            {% else %}
                {% set hasComments = '' %}
            {% endif %}

            <form action="{{ path('_foto_delete', {'id': foto.id}) }}" method="post" class="form-eliminazione">
                <input type="submit" value="Elimina" {{ hasComments }} class="{{ hasComments }}" />
                <span class="avviso">Non puoi eliminare una foto che ha commenti!</span>
            </form>

        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Nessuna foto trovata</p>
{% endif %}


{% endblock %}
