{% extends 'CaffeOlivuzzoAdminBundle::base.html.twig' %}

{% block title %}Caffè Olivuzzo Admin Utenti{% endblock %}

{% block body %}

{% if utenti is not empty %}
<table class="table-sm table-condensed table-striped table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {% for utente in utenti %}
    <tr>
        <td>{{ utente.id }}</td>
        <td>{{ utente.username }}</td>
        <td>{{ utente.email }}</td>

        <td>
            <form action="{{ path('_utente_delete', {'id': utente.id}) }}" method="post" class="form-eliminazione">
                <button class="btn btn-primary" type="submit">Elimina</button>
            </form>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Nessun utente trovato</p>
{% endif %}

<a href="{{ path('user_registration') }}" class="btn btn-primary" role="button">Nuovo Utente</a>


{% endblock %}
