{% extends 'CaffeOlivuzzoAdminBundle::base.html.twig' %}

{% block title %}Caffè Olivuzzo I miei dati{% endblock %}

{% block body %}

{{ form_start(form) }}

    <div>
        <p>{{ form_label(form.username) }}</p>
        <p>{{ form_widget(form.username) }}</p>
        <p>{{ form_errors(form.username) }}</p>
    </div>
    <div>
        <p>{{ form_label(form.email) }}</p>
        <p>{{ form_widget(form.email) }}</p>
        <p>{{ form_errors(form.email) }}</p>
    </div>
    <div>
        <p>{{ form_label(form.plainPassword.first) }}</p>
        <p>{{ form_widget(form.plainPassword.first) }}</p>
        <p>{{ form_errors(form.plainPassword.first) }}</p>
    </div>
    <div>
        <label for="user_plainPassword_second">Ripeti Password</label>
        <p>{{ form_widget(form.plainPassword.second) }}</p>
        <p>{{ form_errors(form.plainPassword.second) }}</p>
    </div>

    <input type="submit" value="Salva">

{{ form_end(form) }}


{% endblock %}
