{% extends 'CaffeOlivuzzoAdminBundle::base.html.twig' %}

{% block title %}Caffè Olivuzzo I miei dati{% endblock %}

{% block body %}

{{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.username) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>
    <div class="form-group">
        <label for="user_plainPassword_second">Ripeti Password</label>
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>

    <button class="btn btn-primary" type="submit">Salva</button>

{{ form_end(form) }}


{% endblock %}
