{% extends 'CaffeOlivuzzoAdminBundle::base.html.twig' %}

{% block title %}Caffè Olivuzzo Admin Commenti Clienti{% endblock %}

{% block body %}

{% if fotos is not empty %}
    {% for foto in fotos %}
    <table class="table">
        {% if foto.comments is not empty %}
        <tbody>
        <tr>
            <td>
                <img class="img-thumbnail" width="100" height="auto" src="{{ asset('../../images/nostri-clienti/'~ foto.foto) }}"  />
            </td>

            <td>
                <table class="table-sm table-striped table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>Id Commento</th>
                        <th>Nome Cognome</th>
                        <th>Commento</th>
                        <th>Data</th>
                        <th>Approvato</th>
                        <th style="text-align:center" colspan="2">Azioni</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for comment in foto.comments %}
                    <tr>
                        <td align="center">{{comment.id}}</td>
                        <td>{{comment.nomeCognome}}</td>
                        <td>{{comment.commento | slice(0, 50) }}...</td>
                        <td>{{comment.data | date('Y-m-d')}}</td>

                        {% if comment.approvato == 1 %}
                            {% set approvatoC = 'Sì' %}
                        {% else %}
                            {% set approvatoC = 'No' %}
                        {% endif %}

                        <td align="center">{{ approvatoC }}</td>
                        <td>
                            <form action="{{ path('_comment_update', {'id': comment.id}) }}" method="post">
                                <input type="submit" value="Modifica" />
                            </form>
                        </td>

                        <td>
                            <form action="{{ path('_comment_delete', {'id': comment.id}) }}" method="post" class="form-eliminazione">
                                <input type="submit" value="Elimina" />
                            </form>
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </td>

        </tr>

        </tbody>
        {% endif %}
    </table>
    {% endfor %}

{% else %}
    <p>Nessuna foto trovata</p>
{% endif %}


{% endblock %}
