{% extends 'CaffeOlivuzzoAdminBundle::base.html.twig' %}

{% block title %}Caffè Olivuzzo Admin Commenti Clienti{% endblock %}

{% block body %}

<h4>Stai modificando il commento numero {{id}}</h4>

    {{ form_start(form) }}
        <img class="img-thumbnail" width="200" height="auto" src="{{ asset('../../images/nostri-clienti/'~ fotoCliente ) }}">
        <div>
            <p>{{ form_label(form.nomeCognome) }}</p>
            <p>{{ form_widget(form.nomeCognome) }}</p>
            <p>{{ form_errors(form.nomeCognome) }}</p>
        </div>
        <div>
            <p>{{ form_label(form.commento) }}</p>
            <p>{{ form_widget(form.commento) }}</p>
            <p>{{ form_errors(form.commento) }}</p>
        </div>

        <div>
            <p>{{ form_label(form.data) }}</p>
            <p>{{ form_widget(form.data) }}</p>
            <p>{{ form_errors(form.data) }}</p>
        </div>

        <div>
            <p>{{ form_label(form.approvato) }}</p>
            <p>{{ form_widget(form.approvato) }}</p>
            <p>{{ form_errors(form.approvato) }}</p>
        </div>

        <input type="submit" value="Salva" />

    {{ form_end(form) }}


{% endblock %}
