{% extends 'CaffeOlivuzzoAdminBundle::base.html.twig' %}

{% block title %}Caffè Olivuzzo Admin Commenti Clienti{% endblock %}

{% block body %}

<h4>Stai modificando il commento numero {{id}}</h4>

    {{ form_start(form) }}
        <img class="img-thumbnail" width="200" height="auto" src="{{ asset('../../images/nostri-clienti/'~ fotoCliente ) }}">
        <div class="form-group">
            {{ form_label(form.nomeCognome) }}
            {{ form_widget(form.nomeCognome, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.nomeCognome) }}
        </div>
        <div class="form-group">
            {{ form_label(form.commento) }}
            {{ form_widget(form.commento, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.commento) }}
        </div>

        <div class="form-group">
            {{ form_label(form.data) }}
            {{ form_widget(form.data) }}
            {{ form_errors(form.data) }}
        </div>

        <div class="form-group">
            {{ form_label(form.approvato) }}
            {{ form_widget(form.approvato, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.approvato) }}
        </div>

        <button class="btn btn-primary" type="submit">Salva</button>

    {{ form_end(form) }}


{% endblock %}
